/* .alert-box{
    background: rgb(191, 191, 255);
    color: rgb(46, 46, 148);
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.abc::before{content: 'a';}

.yellow-bg {
    background: yellow;
} */

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;

}

.black-background{
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: block;
    transition: all 1s;
    transform: translateY(-1200px);
}

.slide-down{
    transform: translateY(0%);
}

.slide-up{
    transform: translateY(-100%);
}

.white-background{
    background: white;
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

.main-background{
    background: url(../images/bg.jpg);
    background-size: cover;
    color: white;
    border-radius: 0px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    
}

.nav-sub{
    display: none;
}

.email-alert{
    display: none;
}

.password-alert{
    display: none;
}

.left-menu {
    width: 150px;
    height: 100%;
    background: black;
    color: white;
    position: fixed;
    margin-left: -150px;
}


.slide-box{
    width: 100vw;
    float: left;
}

.slide-container{
    width: 300vw;
    transition: transform 1s ;
}

.sldie-origin{
    transform: translateX(0vw);
}

.slide-move{
    transform: translateX(-100vw);
}

.slide-move2{
    transform: translateX(-200vw);
}


.slide-box img {
    width: 100%;
}

.slide-wrap{
    /* overflow: hidden; */
}